body{
    background-color: lightblue;
}

div{
    height: 20%;
}

.caja1 {
    width: 25%;
    border: 4px dotted black;
    margin-bottom: 1cm;
    background-image: url("foto.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.caja2{
    width: 100%;
    background-color: blue;
    border-radius: 20px;
    border: 4px dashed red;
    margin-bottom: 1mm;
}